* {
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
  "sidebar footer";
}


nav {
  grid-area: navbar;
  top: 0;
  position: sticky;
}


aside {
  // grid styles (aside is a grid element)
  top: 20px;
  grid-area: sidebar;
  position: sticky;
  align-self: start;
  height: 100vh;
  border: 1px solid red;

  //flex styles (aside is a flex container)
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


main {
  grid-area: main;
}


footer {
  grid-area: footer;
}





.admin-profile-section {
  margin-top: auto;  // push the admin-profile-section to the end of the flex aside
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.admin-profile-section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.admin-profile-section button {
  border: none;
  color: red;
}


#toggle-sidebar-button {
  visibility: hidden;
}





@media(max-width: 425px) {
  body {
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    width: 300px;
    display: none;
  }

  .show {
    display: block;
  }

  #toggle-sidebar-button {
    visibility: visible;
  }
}

