$primary-background-color: #1a202c;
$aside-background-color:  #1f2937;
$cards-background-color: #374151;
$main-container-background-color: #2d3748;
$buttons-background-color: #718096;

$primary-text-color: #e4e7eb;
$primary-font-size: 1rem;
$primary-padding: 1rem;

$header-margin: 1rem;
$input-padding: 0.9rem 0.5rem;
$button-padding: 0.6rem 1rem;

main {

  button {
    background-color: $buttons-background-color;
    color: $primary-text-color;
    padding: $button-padding;
    border: none;
    border-radius: 0.4rem;
    font-weight: bold; 
    transition: background-color 150ms;

    &:hover {
      cursor: pointer;
      background-color: $aside-background-color;
    }
  }

  .add-new-village-btn {
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0.8rem;
    background-color: $main-container-background-color;
    border-radius: 0.5rem;

    input {
      max-width: 100%;
      padding: $input-padding;
      border-radius: 0.5rem;
      font-size: 0.9rem;
      background-color: $cards-background-color;
      color: $primary-text-color;
      border: 1px solid #4e5866;

      &::placeholder {
        color: #9da5b1;
      }

      &:focus {
        outline: none;
      }
    }

    select {
      background-color: $cards-background-color;
      color: $primary-text-color;
      padding: 0.4rem 0.8rem;
      border-radius: 0.5rem;
      border: 1px solid #4e5866;

      option {
        background-color: #b7bdc4;
        color: black;
      }

      &:focus {
        outline: none;
      }
    }

    .villages-sort {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    #village-list-container {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }

    .village-item {
      display: flex;
      background-color: $cards-background-color;
      padding: 1rem 0.8rem;
      border-radius: 0.3rem;
      justify-content: space-between;
      align-items: center;
    }

    .buttons-container {
      display: flex;
      gap: 0.3rem;
    }
  }
}

